
.cafe-title{
  font-family: 'Alice', serif;
  color: $cafe-primary-color;
  font-size: 2em;
  text-transform: uppercase;
}

.cafe-secondary-title{
  color: $cafe-blue-color;
  text-transform: uppercase;
  font-weight: bold;
}

.cafe-card-title{
  color: $cafe-primary-color;
}

.cafe-search{
  background-color: $cafe-primary-color;
  color: $cafe-white-color;
}
.cafe-search:hover{
  background-color: rgba($color: $cafe-primary-color, $alpha: 0.8);
  color: $cafe-white-color;
}

.cafe-hr{
  width: 100px; 
  border-top: 5px double $cafe-primary-color; 
  margin-top: 5px;
}

.cafe-table-title{
  color: $cafe-primary-color;
  font-size: 3em;
}

.cafe-category-table-header{
  background-color: $cafe-primary-color;
  color: $cafe-white-color;
}

.page-item.active .page-link{
  background-color: $cafe-primary-color;
  border: 0px;
}

.pagination li a{
  color: $cafe-primary-color;
}

.cafe-cart{
  color: $cafe-primary-color;
}
.cafe-cart:hover{
  text-decoration: none;
  color: $cafe-primary-color;
}

.cafe-primary-color{
  color: $cafe-primary-color;
}

.login-form{
  max-width: 500px;
  border: 1px solid white;
  padding: 20px 50px;
  background: white;
  border-radius: 10px;
}

.card .card-footer {
  border: 0;
  background-color: white;
  display: block;
}

#back-to-top {
  position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
   width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}


[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}