
.carousel-caption{
  position: absolute;
  color: white;
  top: 30%;
  
  text-align: left;
  //padding-left: 150px;
  h5{
    font-size: 50px;
  }
}
.bg-hide{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: none;
  .navbar-brand {
    color: white;
  }
  .callnow{
    margin-right: 10px;
    color: white;
    font-weight: bold;
  }
  .callnow:hover{
    text-decoration: none;
    color: $cafe-primary-color;
  }
  .container{
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          .active{
           // border-top: 2px solid $cafe-primary-color;
            border-bottom: 5px double $cafe-primary-color;
          }
          .nav-link{
            color: white;
          }
        }
      }
    }
  }
}
.bg-show{
  box-shadow: 0 2px 4px 0 rgba(80, 79, 79, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f9f9f9;
  .navbar-brand {
    color: black;
    font-weight: bold;
  }
  .callnow{
    margin-right: 10px;
    color: $cafe-primary-color;
    font-weight: bold;
  }
  .callnow:hover{
    text-decoration: none;
    color: black;
  }
  .container{
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          .active{
            //border-top: 2px solid $cafe-primary-color;
            border-bottom: 5px double $cafe-primary-color;
          }
          .nav-link{
            color: $cafe-primary-color;
          }
        }
      }
    }
  }
}

.website-title{
  text-transform: uppercase;
  color: gray;
}

.our-menu{
  .menu{
    border-bottom: 1px solid red;
  }
  .menu-title{
    text-transform: capitalize;
    padding-top: 15px;
    font-size: 1.3em;
    font-weight: bold;
  }
  .menu-category{
    text-transform: capitalize;
    font-size: 1em;
    color: gray;
  }
  .menu-price{
    padding-top: 25px;
    font-size: 1.4em;
    color: $cafe-primary-color;
  }
}

.chef{
  .bander{
    position: relative;
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    .overlay {
      position: absolute; 
      bottom: 0; 
      background: rgb(0, 0, 0);
      background: $cafe-primary-color; /* Black see-through */
      color: #f1f1f1; 
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
  }
  .bander:hover{
    .overlay{
      opacity:1;
      padding-bottom: 50px;
    }
  }
}

.website-feature{
  position: relative;
  padding-bottom: 100px;
  margin-top: 100px;
  background-attachment: fixed;;
  background-image: url('../images/testimonial-bg.jpg');
  .feature-title{
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .feature-thumb{
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    padding: 40px;
    margin-top: 32px;
    .feature-icon{
      background-color: $cafe-primary-color;
      width: 85px;
      height: 85px;
      margin: 0 auto;
      top: 0;
      margin-top: -70px;
      margin-bottom: 30px;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: table;
      text-align: center;
      transition: all 0.4s ease-in-out;
      span {
        display: table-cell;
        vertical-align: middle;
        .fas {
          color: #fff;
          font-size: 36px;
          margin: 0;
          padding: 0;
        }
      }
    }
    .feature-icon:hover{
      background-color: #222;
      cursor: pointer;
    }
  }
}


.footer-title{
  color: #c3baba;
}
.footer-paragraph{
  color: #aca5a5;
}
.website-hr{
  border-top: 2px solid $cafe-primary-color;
  width: 50px;
}
.final-footer{
  background-color: #333;
  .me{
    font-weight: bold;
    color: $cafe-primary-color;
  }
  .me:hover{
    color: gold;
    text-decoration: none;
  }
}

@media (min-width: 1199.98px) { 
  #home{
    height: 100vh;
  }
}